@font-face {
  font-family: 'HamurzFreeVersion';

  src: url('../fonts/HamurzFreeVersion.otf');

  src: url('../fonts/HamurzFreeVersion.otf') format('otf'),
  url('../fonts/HamurzFreeVersion.ttf') format('ttf');

  font-weight: normal;

  font-style: normal;
}